<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Festivals en fête</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="partials/css.html"/>
    {% include "partials/css.html" %}
    {% include "partials/metadata.html" %}
</head>
<body>
    <div class="container">
        <header>
            {% include "partials/header.html" %}
        </header>
        <main>
            <div class="container">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                <div class="row">
                  <div class="col">
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}}" role="alert">{{ message }}</div>
                    {% endfor %}
                  </div>
                </div>
                {% endif %}
                {% endwith %}
                <div class="row">
                  <div class="col">
                    {% block body %}{% endblock %}
    <table>
        <tbody>
            {{donnees}}
        </tbody>
    </table>  
                  </div>
                </div>
              </div>
        </main>
        <footer>
            {% include "partials/footer.html" %}
        </footer>
    </div>
    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    {% include "partials/js.html" %}
</body>
</html>