<footer class="bg-light text-center py-3">
    <div class="container">
        <p>&copy; 2024 Festivals en Fête. Tous droits réservés.</p>
        <p>
            <a href="{{ url_for('accueil_festivalchezmoi') }}">Accueil</a> |
            <a href="{{ url_for('liste_favoris') }}">Favoris</a> |
            <a href="{{ url_for('ajout_utilisateur') }}">Contact</a>
        </p>
        <p>Ce site est réalisé dans le cadre du cours de Python - Flask donné en M2TNAH à l'école nationale des Chartes. Les membres de ce groupe sont Maëlys Gioan, Fantin Le Ber, Mathieu Taybi, Bénédicte Tuza.</p>
    </div>
</footer>