{% extends "partials/conteneur.html" %}

{% block carousel %}
<!-- Le carrousel est intentionnellement supprimé sur cette page -->
{% endblock %}

{% block body %}
<div class="container">

    <img src="{{ url_for('static', filename='images/connexion.jpg') }}" class="d-block w-100" alt="connexion" style="height: 500px; width: 100px; object-fit: cover">
    
    <h1>Connexion</h1>
    <form action="{{ url_for('connexion') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="prenom">Prénom</label>
            {{ form.prenom(class_="form-control", placeholder_="Prénom") }}
        </div>
        <div class="form-group">
            <label for="password">Mot de passe</label>
            {{ form.password(class_="form-control", placeholder_="Mot de passe") }}
        </div>
        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</div>
{% endblock %}