<form action="{{url_for('accueil_festivalchezmoi')}}" method="post" name="recherche">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="nom_festival">Nom du festival recherché </label>
        {{ form.nom(class_="form-control", placeholder_="Festival") }}
        <small id="nom_festival" class="form-text text-muted">Entrer tout ou partie du nom d'un festival</small>
    </div>

    <div class="form-group">
        <label for="Période">Dates</label>
        {{ form.periode(class_="form-control") }}
        <small id="periode" class="form-text text-muted">Indiquez une période</small>
    </div>

    <div class="form-group">
        <label for="Discipline">Discipline</label>
        {{ form.discipline(class_="form-control") }}
        <small id="discipline" class="form-text text-muted"> Sélectionnez une discipline</small>
    </div>

    <div class="form-group">
        <label for="Lieu">Lieu</label>
        {{ form.lieu(class_="form-control") }}
        <small id="discipline" class="form-text text-muted"> Sélectionnez une commune</small>
    </div>

    <input type="submit" value="Rechercher">
</form>