<form action="{{url_for('recherche')}}" method="post" name="recherche">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="nom_festival">Nom du festival recherché </label>
        {{ form.nom(class_="form-control", placeholder_="Festival") }}
        <small id="nom_festival" class="form-text text-muted">Entrer tout ou partie du nom d'un festival</small>
    </div>

    <div class="form-group">
        <label for="Période">Dates</label>
        <div id="periode">
            {% for value, label in form.periode.choices %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="periode" id="periode_{{ value }}" value="{{ value }}"
                       {% if form.periode.data and value in form.periode.data %}checked{% endif %}>
                <label class="form-check-label" for="periode_{{ value }}">{{ label }}</label>
            </div>
            {% endfor %}
        </div>
        <small id="periode" class="form-text text-muted">Sélectionnez une ou plusieurs périodes</small>
    </div>

    <div class="form-group">
        <label for="Discipline">Discipline</label>
        <div id="discipline">
            {% for value, label in form.discipline.choices %}
            <div class="form-check">
                <input class="form-check-input" type="checkbox" name="discipline" id="discipline_{{ value }}" value="{{ value }}"
                       {% if form.discipline.data and value in form.discipline.data %}checked{% endif %}>
                <label class="form-check-label" for="discipline_{{ value }}">{{ label }}</label>
            </div>
            {% endfor %}
        </div>
        <small id="discipline" class="form-text text-muted">Sélectionnez une ou plusieurs disciplines</small>
    </div>

    <div class="form-group">
        <label for="Lieu">Lieu</label>
        {{ form.lieu(class_="form-control", id="lieu_recherche",placeholder_="Commune") }}
        <small id="lieu_aide" class="form-text text-muted">Sélectionnez une commune</small>
    </div>

    <input type="submit" value="Rechercher">
</form>