{% extends "partials/conteneur.html" %}

{% block body %}
    <h1>Festivals en fête</h1>

    <!-- Présentation du site -->
    <section class="presentation">
        <p>
            Bienvenue sur "Festivals en fête", votre plateforme dédiée à la découverte des festivals et monuments historiques près de chez vous. 
            Explorez les événements culturels, ajoutez vos favoris et planifiez vos visites en toute simplicité.
        </p>
        <p>
            Que vous soyez passionné d'arts, de musique, de littérature ou d'histoire, notre site vous offre une expérience unique pour explorer 
            les richesses culturelles de votre région.
        </p>
        <p> 
           Avertissement : Pour profiter au mieux de l'application, nous vous recommandons de faire les recherches les plus précises possibles, plus il y aura de réponses, plus l'application mettra de temps à les charger !</p>
    </section>

    <h2>Faire une recherche</h2>
    <div>
        {% include 'partials/formulaires/recherche.html' %}
    </div>
{% endblock %}